*,
*::before,
*::after {
  box-sizing: border-box;
}
.dashboardLogo {
  background-color: #fff;
  fill: rgb(63, 175, 173);
  padding: 0;
  margin: 0;
  width: 2.5em;
  height: 3em;
  cursor: pointer;
}

.dashboardLogo:active {
  fill: #80f1dc;
}

.dashboardLogoWrapper {
  border: none;
  background-color: #fff;
  padding: 0;
  width: 2.5em;
  height: 3em;
  margin-left: 2em;
  margin-top: 1em;
}

.dashboardLogoWrapper:hover:after {
  position: absolute;
  background-color: black;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  transform: translate(.5em, 1.5em);
  width: max-content;
  z-index: 1;
  content: 'dashboard';
}
.dashboardLogoWrapper:active:after {
  content: '';
  padding: 0;
}
