*, *::before, *::after{
    box-sizing: border-box;
}

.previewContainer {
    width: 7in;
    height: 11in;
    margin: 1rem;
    padding: 12px 15px;
    overflow-y: auto;
    font-size: 22px;
    line-height: 1.42;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    
}

.previewHeader {
    max-width: 7in;
    width: 100%;
    margin: 1rem;
    height: 4rem;
    border: 1px solid #ccc;
    background-color: rgb(63, 175, 173);
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.previewText {
    margin-left: auto;
}

.iconContainer {
    margin-left: auto;
    width: 25px;
    height: 60px;
    padding: 0;
    border: none;
}
.icon {
    background-color: rgb(63, 175, 173);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #ffffff   
}

blockquote {
    margin-left: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

pre {
    padding-left: 1em;
    background-color: #dfe2e5;
}

ul {
    list-style-type: disc;
    
}

li {
    display: list-item;
}

img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
    vertical-align: middle;
}

table {
    border-spacing: 0
}

th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
    margin: 0
}

a {
    text-decoration: none;
}