*, *::before, *::after{
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .docContainer {
    display: flex;
    justify-content: center;
  }